/* Fonts Family */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/cdn/NaPDcZTIAOhVxoMyOr9n_E7ffGjEKIw.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/cdn/NaPecZTIAOhVxoMyOr9n_E7fRMQ.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/cdn/NaPDcZTIAOhVxoMyOr9n_E7ffHjDKIw.ttf') format('truetype');
}
